#include <windows.h>

1 ICON "superrdp2.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080404B0"
    BEGIN
      VALUE "FileDescription", "SuperRDP GUI"
      VALUE "ProductName",     "SuperRDP GUI"
      VALUE "FileVersion",     "1.0.0.0"
      VALUE "ProductVersion",  "1.0.0.0"
      VALUE "LegalCopyright",  "Console core: anhkgg (Apache-2.0). GUI rebuild."
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0804, 1200
  END
END
